{% extends '@Admin/base.html.twig' %}


{% block body %}
        <div class="container-fluid panel panel-default">

            <!-- Page Heading -->
            <div class="row panel-heading">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Dashboard <small>Statistics Overview</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li class="active">
                            <i class="fa fa-dashboard"></i> Main Sections
                        </li>
                    </ol>
                </div>
            </div>
            <!-- /.row -->


            <div class="row panel-body">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-film fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{ movies|length }}</div>
                                    <div>Movies&nbsp;</div>
                                </div>
                            </div>
                        </div>
                        <a href="{{ path('admin_movies') }}">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-th-list fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{ categories|length }}</div>
                                    <div>Categories</div>
                                </div>
                            </div>
                        </div>
                        <a href="{{ path('admin_categories') }}">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-star fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{ actors|length }}</div>
                                    <div>Actors</div>
                                </div>
                            </div>
                        </div>
                        <a href="{{ path('admin_actors') }}">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-users fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{ users|length }}</div>
                                    <div>Users</div>
                                </div>
                            </div>
                        </div>
                        <a href="{{ path('admin_users') }}">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- /.row -->


        </div>
        <!-- /.container-fluid -->


{% endblock %}


{% block stylesheets %}
    <style>
        .panel-body {
            min-height: 55vh;
            margin:0 auto;
        }
        .panel{
            height: 100%;
        }
    </style>
{% endblock %}

{% block javascripts %}

    <script>
        $("#navIndex").removeClass("active").addClass("active");
        $("#navMovies").removeClass("active");
        $("#navCategories").removeClass("active");
        $("#navActors").removeClass("active");
        $("#navUsers").removeClass("active");
    </script>

{% endblock %}