{% extends '@Admin/base.html.twig' %}


{% block body %}
        <div class="container-fluid panel panel-default">

            <!-- Page Heading -->
            <div class="row panel-heading">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Dashboard <small>Statistics Overview</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li class="active">
                            <i class="fa fa-dashboard"></i> Main Sections
                        </li>
                    </ol>
                </div>
            </div>
            <!-- /.row -->


            <div class="row panel-body">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-film fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{ movies }}</div>
                                    <div>Movies&nbsp;</div>
                                </div>
                            </div>
                        </div>
                        <a href="{{ path('admin_movies') }}">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-th-list fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{ categories }}</div>
                                    <div>Categories</div>
                                </div>
                            </div>
                        </div>
                        <a href="{{ path('admin_categories') }}">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-star fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{ actors }}</div>
                                    <div>Actors</div>
                                </div>
                            </div>
                        </div>
                        <a href="{{ path('admin_actors') }}">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-users fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{ users|length }}</div>
                                    <div>Users</div>
                                </div>
                            </div>
                        </div>
                        <a href="{{ path('admin_users') }}">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- /.row -->


            <!-- Page Heading -->
            <div class="row panel panel-default">
                <div class="col-lg-12 panel-heading">
                    <ol class="breadcrumb">
                        <li class="active">
                            <i class="fa fa-dashboard"></i> Statistics
                        </li>
                    </ol>
                </div>
                <div class="col-sm-12 panel-body">
                    <canvas id="myChart" width="80%" height="40px"></canvas>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->


{% endblock %}

{% block javascripts %}
    <script>
        var ctx = document.getElementById("myChart").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ["Movies", "Categories", "Actors", "Users"],
                datasets: [{
                    label: 'Number of registered:',

                    data: [{{ movies }}, {{ categories }}, {{ actors }}, {{ users|length }}], // This Must Be Edited From Twig
                    backgroundColor: [
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(79, 206, 68, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(255, 99, 132, 0.2)'
                    ],
                    borderColor: [
                        'rgba(54, 162, 235, 1)',
                        'rgba(79, 206, 68, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(255,99,132,1)'
                    ],
                    borderWidth: 1
                }]
            }
        });
    </script>

    <script>
        $("#navIndex").removeClass("active").addClass("active");
        $("#navMovies").removeClass("active");
        $("#navCategories").removeClass("active");
        $("#navActors").removeClass("active");
        $("#navUsers").removeClass("active");
    </script>

{% endblock %}