{% extends '@Admin/base.html.twig' %}


{% block body %}
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Movies
                </h1>
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i>  <a href="{{ path('admin') }}">Dashboard</a>
                    </li>
                    <li>
                        <i class="glyphicon glyphicon-film"></i> <a href="{{ path('admin_movies') }}"> Movies </a>
                    </li>
                    <li class="active">
                        Add Movie Poster
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <div class="row panel panel-default">
            <div class="panel-heading">
                <h3>Adding / Changing Movie's Posters</h3>
            </div>
            <div class="panel-body listing">
                <div class="col-sm-12">
                    {{ form_start(form) }}

                    <div class="row">
                        {{ form_label(form.index, 'Index Poster', {'label_attr': {'class': 'col-sm-3'}}) }}
                        {{ form_widget(form.index , {'attr': {'class': 'col-sm-8', 'placeholder': 'Index Poster', 'value': ''} }) }}
                    </div>
                    {% if movie.indexPoster != null %}
                        <div class="row alert alert-info">Index Poster is Already Uploaded!!</div>
                    {% endif %}

                    <div class="row">
                        {{ form_label(form.main, 'Main Poster', {'label_attr': {'class': 'col-sm-3'}}) }}
                        {{ form_widget(form.main , {'attr': {'class': 'col-sm-8', 'placeholder': 'Main Poster', 'value': ''} }) }}
                    </div>
                    {% if movie.mainPoster != null %}
                        <div class="row alert alert-info">Main Poster is Already Uploaded!!</div>
                    {% endif %}

                    <div class="row">
                        {{ form_widget(form.submit , {'attr': {'class': 'col-sm-2'} }) }}
                    </div>

                    {{ form_end(form) }}

                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->



{% endblock %}


{% block stylesheets %}

    <style>
        label{
            margin-top: 5px;
        }

        form > .row{
            margin: 10px;
        }
        input[type='submit']{
            margin-left: 20px;
        }

        hr{
            border:1px solid rgba(0,0,0,0.8);
        }
    </style>

{% endblock %}


{% block javascripts %}
    <script>
        $("#navIndex").removeClass("active");
        $("#navMovies").removeClass("active").addClass("active");
        $("#navCategories").removeClass("active");
        $("#navActors").removeClass("active");
        $("#navUsers").removeClass("active");
    </script>
{% endblock %}