{% extends 'base.html.twig' %}

{% block body %}
    <div class="container blocks">
        {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}

        <div class="row">
            {{ form_label(form.current_password, 'Current Password', {'label_attr': {'class': 'col-sm-3'}}) }}
            {{ form_widget(form.current_password, {'attr': {'class': 'col-sm-8', 'placeholder': 'Current Password', 'value': ''} }) }}
        </div>

        <div class="row">
            {{ form_label(form.plainPassword.first, 'New Password', {'label_attr': {'class': 'col-sm-3'}}) }}
            {{ form_widget(form.plainPassword.first, {'attr': {'class': 'col-sm-8', 'placeholder': 'New Password', 'value': ''} }) }}
        </div>


        <div class="row">
            {{ form_label(form.plainPassword.second, 'New Password Repeat', {'label_attr': {'class': 'col-sm-3'}}) }}
            {{ form_widget(form.plainPassword.second, {'attr': {'class': 'col-sm-8', 'placeholder': 'New Password Repeat', 'value': ''} }) }}
        </div>

        <div class="row">
            <input type="submit" value="Submit" />
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}


{% block stylesheets %}
    <style>
        label{
            margin-top: 5px;
        }

        .blocks > form > .row{
            margin: 10px;
        }
        input[type='submit']{
            margin-left: 20px;
        }

        hr{
            border:1px solid rgba(0,0,0,0.8);
        }

    </style>
{% endblock %}
