{% extends 'base.html.twig' %}

{% block body %}


    <!-- Main Section -->

    <div class="container blocks">
        <h2> - Top Rated</h2>
        <div id="topRated" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">

                {% set active = 0 %}
                {% for movie in top_rated %}
                    {% if active == 0 %}
                        <div class="item active">
                    {% else %}
                        <div class="item">
                    {% endif %}
                            {% set active = 1 %}
                            {% if movie.indexPoster != null %}
                                <img src="{{ asset('assets/res/'~movie.indexPoster) }}" alt="{{ movie.title }}">
                            {% else %}
                                <img src="{{ asset('assets/res/indexPoster.png') }}" alt="{{ movie.title }}">
                            {% endif %}
                            <div class="carousel-caption">
                                <a href="{{ path('movie',{'id':movie.id}) }}">
                                    <h2>{{ movie.title  }}</h2>
                                    {% set rate = 0 %}
                                    {% if movie.totalCounts != 0 %}
                                        {% set rate = movie.starsCount / movie.totalCounts %}
                                    {% endif %}
                                    <p>With total rate of: {{ rate }}</p>
                                </a>
                            </div>
                        </div>
                {% endfor %}

            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#topRated" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#topRated" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    <!-- End of Top Rated -->

    <!-- New Movies -->
    <div class="container blocks">
        <h2> - New Movies</h2>

        <div class="row">
            <div class="col-xs-12">
                {% set cnt = 0 %}
                {% for movie in new_movies %}
                    {% if cnt%4 == 0 %}
                        {% if cnt != 0 %}
                            </div>
                        {% endif %}
                        <div class="row">
                    {% endif %}
                    <a href="{{ path('movie',{id:movie.id}) }}">
                        <div class="col-xs-2 cat">
                            {% if movie.mainPoster == null %}
                                <img src="{{ asset('assets/res/mainPoster.png') }}" alt="{{ movie.title }}">
                            {% else %}
                                <img src="{{ asset('assets/res/'~movie.mainPoster) }}" alt="{{ movie.title }}">
                            {% endif %}
                            <strong class="text-center">{{ movie.title }}</strong>
                        </div>
                    </a>
                    {% set cnt = cnt + 1 %}
                {% endfor %}
                {% if cnt % 4 != 0 %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
    <!-- End of new movies -->

    <!-- End of Main Section -->

{% endblock %}



{% block stylesheets %}
<style>
    .item{
        height: 400px;
    }

    .carousel-caption{
        font-weight: bolder;
        font-size:16px;
        background-color: rgba(50,50,50,.6);
        border-radius: 15px;
        box-shadow: 2px 2px 2px 2px rgba(40,40,40,0.5);
        bottom:0!important;
        left: 0!important;
        width: 100%;
        padding: 0;
    }

    .carousel-caption > a{
        color: inherit;
    }
    .carousel-caption > a:hover{
        text-decoration: none;
    }
    .item img{
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        min-height: 100%;
        min-width: 100%;
        transform: translate(-50%, -50%);
    }

    .slide{
        margin-bottom: 20px;
    }

    @media screen and (max-width: 632px) {
        .movies{
            height: 280px;
        }
        .item{
            height: 200px;
        }
        .carousel-caption{
            font-weight: bold;
            font-size:14px;
            bottom:0!important;
            left: 0!important;
            width: 100%;
            padding: 0;
        }
        .movies h2{
            font-size: 16px;
            font-weight: bold;
        }
    }
    .cat{
        border-radius: 15px;
        box-shadow: 5px 5px 5px 5px #AAA;
        background-color: #DDD;
        margin: 20px 10px;
        text-align: center;
        padding: 0;
        color: #2f2f2f;
        font-weight: bold;
        height: 250px;
        width: 150px;
    }

    .cat > img{
        max-height: 100%;
        max-width: 100%;
        border-radius: 15px;
        margin-bottom: 10px;
    }

    .blocks > .row{
        margin:0 auto;
    }
</style>
{% endblock %}
