{% extends 'base.html.twig' %}

{% block body %}

    <div class="container blocks">

        <div class="row">
            <h2 class="text-center"> El Movies - Watch movies the way you should </h2>
            <hr>
        </div>

        {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}

        <div class="row">
            {{ form_label(form.name, 'Full Name', {'label_attr': {'class': 'col-sm-3'}}) }}
            {{ form_widget(form.name , {'attr': {'class': 'col-sm-8'} }) }}
        </div>

        <div class="row">
            {{ form_label(form.username, 'Userame', {'label_attr': {'class': 'col-sm-3'}}) }}
            {{ form_widget(form.username , {'attr': {'class': 'col-sm-8'} }) }}
        </div>

        <div class="row">
            {{ form_label(form.email, 'Email', {'label_attr': {'class': 'col-sm-3'}}) }}
            {{ form_widget(form.email , {'attr': {'class': 'col-sm-8'} }) }}
        </div>

        <div class="row">
            {{ form_label(form.current_password , 'Current Password', {'label_attr': {'class': 'col-sm-3'}}) }}
            {{ form_widget(form.current_password , {'attr': {'class': 'col-sm-8', 'placeholder': 'Current Password', 'value': '', 'required' : ''} }) }}
        </div>


        <div class="row">
            <input class="col-sm-2" type="submit" value="Edit" />
            <a href="{{ path('fos_user_profile_show') }}">
                <input type="button" class="col-sm-2" value="Return">
            </a>
        </div>


        {{ form_end(form) }}
    </div>


{% endblock %}

{% block stylesheets %}

    <style>
        label{
            margin-top: 5px;
        }

        .row{
            margin-top: 10px;
            margin-left: 10px;
        }
        input[type='submit']{
            margin-left: 20px;
        }

        hr{
            border:1px solid rgba(0,0,0,0.8);
        }

        a{
            color: rgba(0,0,0,0.7);
        }
        a:hover{
            text-decoration: none;
            color: rgba(0,0,0,0.7);
        }
    </style>

{% endblock %}